<!DOCTYPE html>
<html>
<head>
	<title>TaskManager :: Organize Your Life</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body style = "background-color: #669999;"><h1>Organize your life, Get more done!</h1>
	<div class = "row">
		<div class = "span8">
			<div class = "jumbotron">
				<%= link_to image_tag("/assets/checklist.png"), root_path, :class => "logo" %>
			</div>
		</div>
		<div class = "span4">
			<% if !user_signed_in? %>
				<%= simple_form_for("user", :url => user_session_path, html: {class: "well"}) do |f| %>
					<fieldset>
						<legend>Sign In</legend>
						<%= f.input :email %>
						<%= f.input :password %>
						<%= f.input :remember_me, as: :boolean %>
						<%= f.button :submit, 'Sign in', :class => "btn btn-primary" %><br>
						<%= link_to "Forgot your password?", new_password_path('user') %><br>
						Don't have an account? <%= link_to "Sign Up", new_user_registration_path %>
					</fieldset>
				<% end %>
			<% else %>
				<h2>Hi</h2>
			<% end %>
		</div>
	</div>

	<%= yield %>

</body>
</html>
